﻿@model TranslationSpellCheckApp.Models.ARABICDARIJAENTRY
@{
    ViewBag.Title = "Index";
}
<style>
    #tbloriginal {
        display: block;
        height: 450px;
        overflow-y: scroll;
        width: 1300px;
        table-layout: fixed;
    }

    #tblTranslated {
        display: block;
        height: 450px;
        overflow-y: scroll;
        width: 1507px;
        table-layout: fixed;
    }

    body {
        overflow: hidden;
    }

    tr {
        height: 100px;
    }
</style>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Arabic-Latin Translator</h2>
<div class="col-md-12">
    <table class="table table-bordered" style=" table-layout: fixed;
           width: 1310px;">
        <tr>
            <th style="width:50%;">
                Original Arabic-Latin Content
            </th>
            <th>
                Translated Arabic Content
            </th>
        </tr>
        <tr>
            <td>
                <div>
                    <table id="tbloriginal" class="table table-bordered">
                        <tr>
                            <th>S.No</th>
                            @*<th>ID_ARABICDARIJAENTRY</th>
                                <th>ID_ARABIZIENTRY</th>*@
                            <th>ArabicDarijaText</th>
                            <th>Translate</th>
                        </tr>
                        @{
                            var rowIndex = 1;
                        }
                        @foreach (TranslationSpellCheckApp.Models.ARABICDARIJAENTRY item in ViewBag.ArabicWords)
                        {
                            <tr>
                                <td>@(rowIndex++)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ArabicDarijaText)
                                </td>
                                <td>
                                    <button class="btn-danger" onclick="TranslateText('@item.ID_ARABICDARIJAENTRY','@item.ID_ARABIZIENTRY','@item.ArabicDarijaText','@(rowIndex)'  )">
                                        translate>>
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
            <td>
                <div>
                    <table id="tblTranslated" class="table table-bordered">
                        <tr>
                            <th>S.No</th>
                            <th width="99.9%" style="text-align:center;">ArabicDarijaText</th>
                        </tr>
                        @{
                            var rowIndex1 = 1;
                        }
                        @foreach (TranslationSpellCheckApp.Models.ARABICDARIJAENTRY item in ViewBag.ArabicWords)
                        {

                            <tr>
                                <td>@(rowIndex1++)</td>
                                <td></td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">


        //$(document).ready(function () {
        //    $('table#tblTranslated tr').each(function () {
        //        $(this).('height', '50px');
        //    })
        //});
        function TranslateText(ID_ARABICDARIJAENTRY, ID_ARABIZIENTRY, ArabicDarijaText, rowIndex) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TranslateText", "Home")',
                data: { ID_ARABICDARIJAENTRY: ID_ARABICDARIJAENTRY, ID_ARABIZIENTRY: ID_ARABIZIENTRY, ArabicDarijaText: ArabicDarijaText },
                success: function (data) {
                    var result = data.Text;
                    var row = '<tr><td>' + result + ' </td ></tr>';
                    var col = 2;
                    $('table#tblTranslated tr:nth-child(' + rowIndex + ') td:nth-child(' + col + ')').text("");
                    $('table#tblTranslated tr:nth-child(' + rowIndex + ') td:nth-child(' + col + ')').text(result);
                },
                error: function () {
                    alert('Something went wrong!');
                }
            });
        }
    </script>
}