﻿
@{
    ViewBag.Title = "Index";
}
<h2></h2>
<div class="col-md-12">
    <div class="col-md-5">
        <div class="col-md-3">
            Source Language
        </div>
        <div class="col-md-6">
            <select ID="ddlSource" class="form-control" style="width: 90%;">
                <option Value="AF" Text="">Afrikanns</option>
                <option Value="SQ" Text="">Albanian</option>
                <option Value="AR" Text="">Arabic</option>
                <option Value="HY" Text="">Armenian</option>
                <option Value="EU" Text="">Basque</option>
                <option Value="BN" Text="">Bengali</option>
                <option Value="BG" Text="">Bulgarian</option>
                <option Value="CA" Text="">Catalan</option>
                <option Value="KM" Text="">Cambodian</option>
                <option Value="ZH" Text="">Chinese (Mandarin)</option>
                <option Value="HR" Text="">Croation</option>
                <option Value="CS" Text="">Czech</option>
                <option Value="DA" Text="">Danish</option>
                <option Value="NL" Text="">Dutch</option>
                <option Value="EN" Text="" Selected="True" />English</option>
                <option Value="ET" Text="">Estonian</option>
                <option Value="FJ" Text="">Fiji</option>
                <option Value="FI" Text="">Finnish</option>
                <option Value="FR" Text="">French</option>
                <option Value="KA" Text="">Georgian</option>
                <option Value="DE" Text="">German</option>
                <option Value="EL" Text="">Greek</option>
                <option Value="GU" Text="">Gujarati</option>
                <option Value="HE" Text="">Hebrew</option>
                <option Value="HI" Text="">Hindi</option>
                <option Value="HU" Text="">Hungarian</option>
                <option Value="IS" Text="">Icelandic</option>
            </select>
        </div>
    </div>

    <div class="col-md-5">
        <div class="col-md-3">
            Target Language
        </div>
        <div class="col-md-6">
            <select ID="ddlTarget" class="form-control" style="width: 90%;">
                <option Value="AF" Text="">Afrikanns</option>
                <option Value="SQ" Text="">Albanian</option>
                <option Value="AR" Text="">Arabic</option>
                <option Value="HY" Text="">Armenian</option>
                <option Value="EU" Text="">Basque</option>
                <option Value="BN" Text="">Bengali</option>
                <option Value="BG" Text="">Bulgarian</option>
                <option Value="CA" Text="">Catalan</option>
                <option Value="KM" Text="">Cambodian</option>
                <option Value="ZH" Text="">Chinese (Mandarin)</option>
                <option Value="HR" Text="">Croation</option>
                <option Value="CS" Text="">Czech</option>
                <option Value="DA" Text="">Danish</option>
                <option Value="NL" Text="">Dutch</option>
                <option Value="EN" Text="" Selected="True" />English</option>
                <option Value="ET" Text="">Estonian</option>
                <option Value="FJ" Text="">Fiji</option>
                <option Value="FI" Text="">Finnish</option>
                <option Value="FR" Text="">French</option>
                <option Value="KA" Text="">Georgian</option>
                <option Value="DE" Text="">German</option>
                <option Value="EL" Text="">Greek</option>
                <option Value="GU" Text="">Gujarati</option>
                <option Value="HE" Text="">Hebrew</option>
                <option Value="HI" Text="">Hindi</option>
                <option Value="HU" Text="">Hungarian</option>
                <option Value="IS" Text="">Icelandic</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <input type="button" class="btn-danger" value="Translate" OnClick="TranslateText();" />
    </div>
</div>
        <div class="col-md-10" style="margin-top:20px;margin-left: 15px;">
            <div class="col-md-6">
                <textarea ID="txtSource" class="form-control" style="width:100%;"  spellcheck="true" rows="4" cols="60"></textarea>
            </div>
            <div class="col-md-6">
                <textarea ID="txtTarget" class="form-control col-md-12"  style="width:100%;" spellcheck="true" rows="4" cols="60"></textarea>
            </div>
        </div>
@section Scripts {
   <script type="text/javascript">
       function TranslateText() {
           debugger;
           var sourceLanguage = $('#ddlSource').val();
           var targerLanguage = $('#ddlTarget').val();
           var sourceText = $('#txtSource').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TranslateText", "Translate")',
                data: { sourcelanguage: sourceLanguage, targetlanguage: targerLanguage, sourceText: sourceText},
                success: function (data) {
                    var result = data.Text;
                    $('#txtTarget').val(result);
                },
                error: function () {
                    alert('Something went wrong!');
                }
            });
       }
    </script>
}